@import "variables";

// global styles
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}

// global classes

.txt-dark {
  color: $text-dark;
}

.txt-white {
  color: $text-white;
}
.txt-light {
  color: $text-light;
}

.txt-gray {
  color: $text-gray;
}
.txt-red {
  color: $text-red;
}

.bg-gradient {
  background: $bg-gradient;
}

.bg-gradient-indigo {
  background: $bg-gradient-indigo;
}

.bg-gradient-peach {
  background: $bg-gradient-peach;
}

.bg-gradient-red {
  background: $bg-red;
}

.bg-gradient-blue {
  background: $bg-blue;
}
.bg-gradient-purple {
  background: $bg-purple;
}

.font-stack {
  font-family: $font-stack;
}
.text-center {
  text-align: center;
}
.text-sm {
  font-size: 1em;
  line-height: 1.5em;
}

.text-md {
  font-size: 1.5em;
}

.text-lg {
  font-size: 2.2em;
  line-height: 3em;
}

.text-xl {
  font-size: 3em;
}
.text-2xl {
  font-size: 5em;
}

.font-bold {
  font-weight: bold;
}
.flex {
  display: flex;
}
.flex-row {
  flex-direction: row;
}
.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}
.flex-initial {
  flex: 0 1 auto;
}
.flex-grow {
  flex-grow: 1;
}
.justify-center {
  justify-content: center;
}
.text-uppercase {
  text-transform: uppercase;
}
.container {
  width: 100%;
}
.container-fluid {
  width: 98%;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
